.home-article {
    /* background-color: rgb(204, 199, 204);
    font-family: var(--font2);
    width: 75%;
    display: flex;
    border-radius: 8px;
    margin: 15px; */
    border: 2px solid red;
  }

  .ourteam {
    font-family: var(--font2);
    margin-top: 35px;
   
    background-color: rgb(204, 199, 204);
    height: 80%;
    padding: 4px 2px 1px 2px;
    text-align: center;
    color: rgb(41, 36, 36);
  }
  .ourteam div{
    margin-bottom: 2rem;
  }
  

  .team {
    display: grid;
    grid-gap: 1rem;
    border-radius: 8px;
    /* grid-template-columns: repeat(3, auto); */
    /* height: 500px;
    width: 75%; */
    background-color: rgb(177, 169, 177);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    justify-content: center;
    align-items: center;

  }

  .item img{
    width: 80%;
    height: 90%;
    border-radius: 50% ;
  }
  
  .item{
    display: flex;
    /* background-color: rgb(179, 149, 149); */
    /* border: 2px solid black; */
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    height: 300px;
    /* width: 40px; */
    /* margin: 10px; */
    
  }
  .item2{
    display: flex;
    /* background-color: rgb(179, 149, 149); */
    /* border: 2px solid black; */
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px;
    color: rgb(82, 75, 62);
    font-family: var(--font2);
    font-size: 13px;
    height: 300px;
    /* width: 40px; */
    /* margin: 10px; */
    
  }

  .item2 div{
    margin-top: 3rem;
    border-radius: 3px;
  }
  
